{% extends 'parents/auth_base.html' %}
{% block title %}{{ user["fname"] }} | Create Task{% endblock %}

{% block content %}

<span onclick="window.history.back();" class="back p-3" style="position:absolute">
    <svg width="40" height="40" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
        <path fill="#fff" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"/>
        <path fill="#fff" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"/>
    </svg>
</span>

<form class="form-container" method="post">
{{ form.hidden_tag() }}

    <h1>Create Task</h1>
    <br>
    <div class="form-group">
        <p>{{ form.title.label(class='form-label') }}</p>
        {{ form.title() }}
    </div>
    <br>
    <div class="form-group">
        <p>{{ form.description.label(class='form-label') }}</p>
        {{ form.description() }}
    </div>
    <br>
    <div class="form-group">
        <p>{{ form.priority.label(class='form-label') }}</p>
        {{ form.priority() }}
    </div>
    <br>
    <div class="form-group">
        <p>{{ form.deadline.label(class='form-label') }}</p>
        {{ form.deadline() }}
    </div>
    <br><br>
    <div class="form-group">
        {{ form.submit() }}
    </div>

</form>

{% endblock %}